doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    h1='Mã đơn hàng: ' + data.order.order_id
    h2='Ngày đặt hàng: ' + data.order.order_date
    table.table
      thead
        tr
          th(scope='col') Mã sản phẩm
          th(scope='col') Tên sản phẩm
          th(scope='col') Giá
          th(scope='col') Số lượng
          th(scope='col') Tổng tiền
      tbody
        each item in data.orderlines 
          tr
            th(scope='row')=item.product_id 
            td=item.title 
            td=new Intl.NumberFormat("vi-VN").format(item.net_price)
            td=item.quantity 
            td=new Intl.NumberFormat("vi-VN").format(item.net_price*item.quantity)
    table.table
        tbody
            tr
            th(scope='row') Tạm tính
            td=new Intl.NumberFormat("vi-VN", { style: "currency", currency: "VND", maximumFractionDigits: 9}).format(data.order.tmp_amount)
         tbody
            tr
            th(scope='row') Giảm giá
            td=-data.order.discount + "%"
         tbody
            tr
            th(scope='row') Thuế (%)
            td=data.order.tax
         tbody
            tr
            th(scope='row') Phí vận chuyển
            td=new Intl.NumberFormat("vi-VN", { style: "currency", currency: "VND", maximumFractionDigits: 9}).format(data.order.delivery_cost)
         tbody
            tr
            th(scope='row') Tổng tiền
            td=new Intl.NumberFormat("vi-VN", { style: "currency", currency: "VND", maximumFractionDigits: 9}).format(data.order.amount)
            

   

        